body {
  background-color: #ffffff;
  font-family: arial, sans-serif;
}

.blockcolor{
  background-color: #FFFD82
}

.blockcolor2{
  background-color: #FF9B71
}

.blockcolor3{
  background-color: #1B998B
}

.blockcolor4{
  background-color: #E84855
}
